body{
    background-color: color(primary);
    font-family: font(main);
    color:white;
}

#courses{
    @include textsize(medium);
    color:white;
    font-family: font(main);
    background-color: color(accent);
    text-align: center;
    width:50%;
    padding:30px;
}

.mainsection{
    padding-top:10%;

}

input{
    padding:10px;
    width:100%;
}

